* {
    box-sizing: border-box;
}

:root {
    --primary-color: #2e80ce;
    --secondary-color: #10375c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-style: normal;
    line-height: 60px;
    background: var(--primary-color);
    border: 0px;
    border-radius: 999px;
    padding: 0 45px;
}

.heading {
    color: var(--secondary-color);
    font-size: 5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.desc {
    color: #575f66;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.67;
}

/* Header */
.sticky-header {
    position: sticky;
    z-index: 100;
    left: 0;
    top: -18px;
    padding: 30px 0 12px;
    background: var(--secondary-color);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: inline-flex;
}

.logo__icon {
    width: 30px;
    height: 30px;
}

.logo__text {
    margin-left: 6px;
}

.logo__brand {
    display: block;
    color: #fff;
    text-align: right;
    font-size: 1.8rem;
    font-style: normal;
    line-height: 0.77;
}

.logo__brand--small {
    margin-top: 3px;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.16;
}

.navbar__list {
    display: flex;
    gap: 42px;
}

.login-cta,
.navbar__link {
    color: #c9d2da;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.75;
}

.navbar__link--active {
    -webkit-text-stroke: 0.7px #fff;
}

.navbar__link:hover {
    -webkit-text-stroke: 0.7px #fff;
}

.navbar__link--active::before {
    position: relative;
    top: -2px;
    left: -11px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
}

.sign-up-btn {
    font-size: 1.6rem;
    margin-left: 28px;
    padding: 0 20px;
    line-height: 40px;
}

/* Hero */
.hero {
    padding: 64px 0 110px;
    background: var(--secondary-color);
}

.hero-body {
    display: flex;
    justify-content: space-between;
}

.hero__content {
    width: 45%;
    flex-shrink: 0;
}

.hero__heading {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero__desc {
    margin-top: 22px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

.hero__actions {
    display: flex;
    gap: 38px;
    align-items: center;
    margin-top: 38px;
}

.hero__call-cta {
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-style: normal;
    line-height: 1.67;
}

.hero__images {
    display: flex;
    align-items: center;
}

.hero__img {
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:first-child {
    z-index: 1;
    width: 330px;
    height: 540px;
}

.hero__img:last-child {
    margin-left: -6px;
    width: 210px;
    height: 410px;
}

/* Service */
.service {
    margin: 170px 0;
}

.service__heading {
    text-align: center;
}

.service__desc {
    margin: 18px auto 0px;
    width: 468px;
    text-align: center;
}

.service__row {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.service__img {
    width: 49%;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.service__content {
    width: 470px;
}

.service-item {
    display: flex;
    gap: 0 19px;
    align-items: center;
    padding: 22px;
    transition: 0.25s;
}

.service-item:hover {
    position: relative;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
    color: #fff;
    background: var(--primary-color);
}

.service-item__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: #eff6fd;
    border-radius: 50%;
    flex-shrink: 0;
    transition: 0.25s;
}

.service-item__heading {
    color: var(--secondary-color);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.service-item__desc {
    margin-top: 8px;
    color: #575f66;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.75;
}

.service__btn {
    margin-top: 55px;
}

/* Feature */
.feature {
    padding: 100px 0;
    background: #f6fbff;
}

.feature__desc {
    width: 468px;
    margin: 18px 0;
}

.feature__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 86px;
}

.feature-item {
    --border-color: #eaf6ff;
    padding: 42px;
    border-radius: 4px;
    border: 16px solid var(--border-color);
    transition: 0.25s;
}

.feature-item:hover {
    transform: translateY(-16px);
    --border-color: var(--primary-color);
}

.feature-item__icon {
    width: 72px;
    height: 72px;
}

.feature-item__heading {
    margin-top: 18px;
    color: var(--secondary-color);
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.39;
}

.feature-item__link,
.feature-item__desc {
    margin-top: 28px;
    color: #575f66;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.75;
}

.feature-item__link {
    display: inline-block;
    margin-top: 18px;
}

.feature-item:hover .feature-item__link {
    color: var(--primary-color);
    font-weight: 400;
}

/* About */
.about {
    padding: 170px 0;
}

.about-body {
    display: flex;
    align-items: center;
}

.about__images {
    position: relative;
    width: 49%;
    height: 491px;
    flex-shrink: 0;
}

.about__img {
    object-fit: cover;
    border-radius: 6px;
}

.about__img:first-child {
    width: 510px;
    height: 370px;
}

.about__img:last-child {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 332px;
    height: 370px;
}

.about__content {
    padding-left: 130px;
}

.about__desc {
    margin-top: 18px;
}

.about__more {
    margin-top: 38px;
    padding: 0 52px;
}
