* {
    box-sizing: border-box;
}

:root {
    --primary-color: #2e80ce;
    --secondary-color: #10375c;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-style: normal;
    line-height: 60px;
    background: var(--primary-color);
    border: 0px;
    border-radius: 999px;
    padding: 0 45px;
}

.heading {
    color: var(--secondary-color);
    font-size: 5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.desc {
    color: #575f66;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.67;
}

/* Header */
.sticky-header {
    position: sticky;
    z-index: 100;
    left: 0;
    top: -18px;
    padding: 30px 0 12px;
    background: var(--secondary-color);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: inline-flex;
}

.logo__icon {
    width: 30px;
    height: 30px;
}

.logo__text {
    margin-left: 6px;
    font-family: "Sora", sans-serif;
}

.logo__brand {
    display: block;
    color: #fff;
    text-align: right;
    font-size: 1.8rem;
    font-style: normal;
    line-height: 0.77;
}

.logo__brand--small {
    margin-top: 3px;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.16;
}

.navbar__list {
    display: flex;
    /* gap: 42px; */
}

.login-cta,
.navbar__link {
    color: #c9d2da;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.75;
    padding: 8px 21px;
}

.navbar__link--active {
    -webkit-text-stroke: 0.7px #fff;
}

.navbar__link:hover {
    -webkit-text-stroke: 0.7px #fff;
}

.navbar__link--active::before {
    position: relative;
    top: -2px;
    left: -11px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
}

.sign-up-btn {
    font-size: 1.6rem;
    margin-left: 7px;
    padding: 0 20px;
    line-height: 40px;
    cursor: pointer;
}

/* Hero */
.hero {
    padding: 64px 0 110px;
    background: var(--secondary-color);
}

.hero-body {
    display: flex;
    justify-content: space-between;
}

.hero__content {
    width: 45%;
    flex-shrink: 0;
}

.hero__heading {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero__desc {
    margin-top: 22px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

.hero__actions {
    display: flex;
    gap: 38px;
    align-items: center;
    margin-top: 38px;
}

.hero__call-cta {
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-style: normal;
    line-height: 1.67;
}

.hero__images {
    display: flex;
    align-items: center;
}

.hero__img {
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:first-child {
    z-index: 1;
    width: 330px;
    height: 540px;
}

.hero__img:last-child {
    margin-left: -6px;
    width: 210px;
    height: 410px;
}

/* Service */
.service {
    padding: 170px 0;
}

.service__heading {
    text-align: center;
}

.service__desc {
    margin: 18px auto 0px;
    width: 468px;
    text-align: center;
}

.service__row {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.service__img {
    width: 49%;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.service__content {
    width: 470px;
}

.service-item {
    display: flex;
    gap: 0 19px;
    align-items: center;
    padding: 22px;
    transition: 0.25s;
}

.service-item:hover {
    position: relative;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
    color: #fff;
    background: var(--primary-color);
}

.service-item__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: #eff6fd;
    border-radius: 50%;
    flex-shrink: 0;
    transition: 0.25s;
}

.service-item__heading {
    color: var(--secondary-color);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.service-item__desc {
    margin-top: 8px;
    color: #575f66;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.75;
}

.service__btn {
    margin-top: 55px;
}

/* Feature */
.feature {
    padding: 100px 0;
    background: #f6fbff;
}

.feature__desc {
    width: 468px;
    margin: 18px 0;
}

.feature__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 86px;
}

.feature-item {
    --border-color: #eaf6ff;
    padding: 42px;
    border-radius: 4px;
    border: 16px solid var(--border-color);
    transition: 0.25s;
}

.feature-item:hover {
    transform: translateY(-16px);
    --border-color: var(--primary-color);
}

.feature-item__icon {
    width: 72px;
    height: 72px;
}

.feature-item__heading {
    margin-top: 18px;
    color: var(--secondary-color);
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.39;
}

.feature-item__link,
.feature-item__desc {
    margin-top: 28px;
    color: #575f66;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.75;
}

.feature-item__link {
    display: inline-block;
    margin-top: 18px;
}

.feature-item:hover .feature-item__link {
    color: var(--primary-color);
    font-weight: 400;
}

/* About */
.about {
    padding: 170px 0 85px;
}

.about-body {
    display: flex;
    align-items: center;
}

.about__images {
    position: relative;
    width: 49%;
    height: 491px;
    flex-shrink: 0;
}

.about__img {
    object-fit: cover;
    border-radius: 6px;
}

.about__img:first-child {
    width: 510px;
    height: 370px;
}

.about__img:last-child {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 332px;
    height: 370px;
}

.about__content {
    padding-left: 130px;
}

.about__desc {
    margin-top: 18px;
}

.about__more {
    margin-top: 38px;
    padding: 0 52px;
}

/* Team */
.team {
    padding: 85px 0;
}

.team__heading {
    text-align: center;
}

.team__cta-wrapper {
    margin-top: 38px;
    text-align: center;
}

.team__cta {
    padding: 0 27px;
}

.team__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 34px;
    margin-top: 70px;
}

.team-member__avatar {
    width: 100%;
    height: 318px;
    object-fit: cover;
    border-radius: 6px;
}

.team-member__title {
    margin-top: 12px;
    color: var(--secondary-color);
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    line-height: 1.75;
}

.team-member__desc {
    color: #575f66;
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.86;
}

.team-control {
    display: flex;
    justify-content: center;
    gap: 0 18px;
    margin-top: 38px;
}

.team-control-item {
    --normal-color: #575f66;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background: transparent;
    border: 1px solid var(--normal-color);
    color: var(--normal-color);
    border-radius: 50%;
    cursor: pointer;
}

.team-control-item:hover {
    color: #fff;
    background: var(--primary-color);
    border-color: var(--primary-color);
}

/* CTA */
.cta {
    margin: 180px 0 85px;
}

.cta-body {
    display: flex;
    gap: 0 160px;
    padding: 75px 70px;
    background: var(--primary-color);
    border-radius: 4px;
}

.cta__images {
    position: relative;
    width: 284px;
    flex-shrink: 0;
}

.cta__img {
    position: absolute;
    left: 0;
    bottom: -75px;
    width: 284px;
    height: 522px;
    object-fit: cover;
}

.cta__heading {
    color: #fff;
}

.cta__desc {
    margin-top: 18px;
    color: #fff;
}

.cta__row {
    display: flex;
    gap: 0 28px;
    margin-top: 38px;
}

/* News */
.news {
    padding: 85px 0;
}

.news-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news__content {
    width: 470px;
}

.news__link {
    display: inline-block;
    margin-top: 28px;
    color: var(--secondary-color);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.56;
    text-decoration-line: underline;
}

.news__controls {
    display: flex;
    margin-top: 28px;
    column-gap: 18px;
}

.news__control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    outline: none;
    background: #fff;
    border: 1px solid #575f66;
    border-radius: 50%;
    color: #575f66;
    cursor: pointer;
}

.news__control-btn:hover {
    background: var(--primary-color);
    border-color: var(--primary-color);
    color: #fff;
}

.news__right-control-btn-img {
    rotate: 180deg;
}

.news__list {
    flex-shrink: 0;
    width: 49%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
}

.news-item {
    border-radius: 12px;
    border: 1px solid #e8ebee;
    background: #fff;
    overflow: hidden;
}

.news-item:hover {
    border-color: #fff;
    box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
}

.news-item__thumb {
    width: 100%;
    height: 172px;
    object-fit: cover;
}

.news-item__content {
    margin: 18px 22px 22px;
}

.news-item__title {
    color: var(--secondary-color);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.63;
}

.news-item__desc {
    margin-top: 10px;
    color: #575f66;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.72;
}

.news-item__more {
    display: inline-block;
    margin-top: 12px;
    color: var(--secondary-color);
    font-size: 1.4rem;
    font-style: normal;
    line-height: normal;
}

.news-item:hover .news-item__more {
    color: var(--primary-color);
}

/* Appointment */
.appointment {
    padding: 85px 0 170px;
}

.appointment-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    background: #f6fbff;
}

.appointment__heading {
    position: relative;
}

.appointment__heading::after {
    position: absolute;
    bottom: -18px;
    left: 50%;
    display: block;
    content: "";
    width: 136px;
    height: 2px;
    background: var(--primary-color);
    transform: translateX(-50%);
}

.appointment__desc {
    margin-top: 38px;
    width: 617px;
    color: #575f66;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.75;
}

.appointment__link {
    margin-top: 38px;
    padding: 0 40px;
}

/* Footer */
.footer {
    padding: 100px 0 42px;
    background: var(--secondary-color);
    font-family: "Open Sans", sans-serif;
}

.footer__row {
    display: grid;
    grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
    column-gap: 78px;
}

.footer__desc {
    margin-top: 22px;
    color: #a9b3bb;
    font-size: 1.6rem;
    font-style: normal;
    line-height: 1.75;
}

.footer__title {
    color: #fff;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75;
}

.footer__list {
    margin: 10px 0 28px;
}

.footer__item {
    display: inline-block;
    margin-top: 10px;
    color: #a9b3bb;
    font-size: 1.4rem;
    font-style: normal;
    line-height: 1.86;
    white-space: nowrap;
}

.social {
    display: flex;
    column-gap: 10px;
    margin: 20px 0 28px;
}

.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

.social__link:first-of-type {
    background: var(--primary-color);
}

.footer__subscribe-desc {
    margin-top: 20px;
    width: 273px;
    color: #a9b3bb;
    font-size: 1.4rem;
    font-style: normal;
    line-height: 1.86;
}

.footer__copy-right {
    margin-top: 28px;
    color: #aab3ba;
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    line-height: 1.86;
}
